body {
  margin: 0;
}

#app {
  height: 500vh;
  position: relative;
}

canvas {
  position: sticky;
  top: 0;
}

@font-face {
  font-family: 'TEfont';
  src: url('./TE20T.woff2') format('woff')
}

body {
  margin: 0;
  background: #000;
  font-family: 'TEfont', sans-serif;
  font-weight: 300;
  color: #fff;
}

.flex {
  display: flex;
  height: 100vh;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.tape {
  display: flex;
  gap: 15vw;
  margin-bottom: 8vw;
  position: relative;
}

.tapeBottom {
  position: absolute;
  width: 56vw;
  bottom: -7vw;
  left: 3.5vw;
}
.rect {
  /*border: 1px solid #fff;*/
  position: relative;
  width: 25vw;
  height: 25vw;
  z-index: 1;
}
.rect img {
  width: 25vw;
  height: 25vw;
}

.data {
  font-size: 3.8vw ;
  list-style: none;
  display: grid;
  text-align: center;
  padding: 0;
  margin:2vw 0 0;
}

.data h2 {
  font-size: 1vw;
  margin: 0;
  line-height: 1;
}

.value {
  line-height: 1.25;
  margin: 0;
}

